/* 스크롤바 */
 body {
	-ms-overflow-style: none;
	overflow-y: auto;
    background-color: #8f8ebf33;
}
 
::-webkit-scrollbar {
  display: none;
}

.p1 {
	width: 500px;
	height: 800px;
	margin: 50px auto;
	line-height: 40px;
	font-weight: bold;
	color: #262626;
}

/*돌아가기 아이콘(logo_back), 돌아가기(mypage_back) 문구*/
.mypage_back_icon {
	display: inline-block;
	text-align: left;
	font-size: 15.4px;
	color: #262626;
	position: absolute;
	width: 200px;
	height: 40px;
    top: 50px;
    left: 30%;
	cursor: pointer;
}

.backIco {
	position:absolute;
	top: 10px;
    left: -27px;
}

.mypage_back {
	display: inline-block;
	margin: 0px;
	cursor: pointer;
}

.p2 {
	text-align: center;
	font-size: 22.4px;
	margin-bottom: 80px;
}

.box {
	width: 500px;
	height: 50px;
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	outline: 0;
	text-indent: 15px;
	font-size : 16px;
}

#popupForm table {
	border-collapse: collapse;
	display: inline-table;
	vertical-align : top;
	width: 80%;
}

#popupForm td {
	height: 35px;
	border-bottom: 1px solid #f4f4f4;
	text-align: left;
}

#popupForm th:nth-child(1) {
	width : 300px; 
	height: 40px;
	text-align: center;
}

.box_search {
	width: 330px;
	height: 50px;
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	outline: 0;
	text-indent: 15px;
	font-size : 16px;
}

.box:hover, .box_search:hover {
	border: 1px solid #6c69bc;
	color: #262626;
}

#select_box {
	text-indent: 10px;
	font-size: 15.4px;
}

.boxBtn {
	float: right;
	display: block;
	line-height: 30px;
	height: 50px;
	width: 150px;
	border: 1px solid #8F8EBF;
	background-color: #4F4D8C;
	border-radius: 5px;
	color: #f1f1f1;
	font-size: 15.4px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.boxBtn:hover {
	border: 1px solid #4F4D8C;
	background-color: #e1e1fb;
	color: #262626;
}

.updateBtn {
	margin-top: 30px;
	width: 500px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #8F8EBF;
	background-color: #4F4D8C;
	text-align: center;
	border-radius: 5px;
	color: #f1f1f1;
	font-weight: bold;
	font-size: 16.8px;
	cursor: pointer;
}

.updateBtn:hover {
	border: 1px solid #4F4D8C;
	background-color: #e1e1fb;
	color: #262626;
}

.info {
	height: 50px;
	text-align: center;
	display: none;
	font-size: 12pt;
	color: #262626;
	font-weight: normal;
}

.focus, .focus_info {
	color: red;
	font-weight: 200;
}

.focus {
	font-size: 15.4px;
}

.focus_info {
	font-size: 12px;
	line-height: 100%;
}
